<header>
  <div class="container">
    <%= link_to t("header.logo"), root_path, id: "logo"%>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t("header.menu.home"), root_path %></li>
      <li><%= link_to t("header.menu.help"), help_path %></li>
      <li><%= link_to t("header.menu.login"), "#" %></li>
    </ul>
  </div>
</header>
